{
  "presets": [
    "react",
    ["es2015", { "modules": false }] //https://github.com/webpack/webpack/issues/4961 and https://babeljs.io/docs/plugins/transform-runtime or https://github.com/webpack/webpack/issues/3974
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-to-generator",
    "react-hot-loader/babel",
    "transform-object-rest-spread"
    ,
    [
      "import",
      [
        {
          "libraryName": "antd"
//          "style": true
        }
      ]
    ]
  ]
}
